---
import Blog from "../../layouts/Blog.astro";

export const frontmatter = {
  title: "Glove Mouse",
  date: "2025-09-02 - ongoing",
  url: "./blog/glove-mouse",
};
---

<Blog blogTitle={frontmatter.title} date={frontmatter.date}>
  <p>This is the content of my first blog post!</p>
</Blog>
