@import "tailwindcss";

@theme {
  --font-2p: 'Press Start 2P', sans-serif;
  --font-pixelify: 'Pixelify Sans Variable', sans-serif;
  --font-inter: 'Inter', sans-serif;
  --font-jetbrains: 'JetBrains Mono', monospace;
  --color-bg: #11111b;
  --color-text: #cdd6f4;
  --color-selected: #45475a;
  /* og red fav color */
  --color-accent: #e64553;
}

::selection {
  background-color: var(--color-selected);
}
