---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <p class="text-lg max-sm:text-base">hi, im</p>
  <div class="intro">
    <h1
      class="font-pixelify text-6xl max-md:text-5xl max-sm:text-4xl text-accent mt-[-0.25rem]"
    >
      shasherazi
    </h1>
    <p class="text-lg max-sm:text-base mt-3 max-sm:mt-1">
      i am a
      <a
        href="https://github.com/shasherazi"
        class="text-accent underline"
        target="_blank"
        rel="noopener noreferrer"
      >
        programmer</a
      > who likes to tinker with computers, both hardware-wise and software-wise.
      i also have an interest in design, math, linux, and electronics. this website
      will act as my
      <a href="/blog" class="text-accent underline"> personal blog</a>
      and/or a "professional" portfolio, depending on how things go
    </p>
  </div>

  <hr class="w-screen my-8 max-md:my-6 text-accent" />

  <div class="projects">
    <p class="text-lg max-sm:text-base max-sm:mt-2">
      ive made several projects since i started programming in 2021. you can
      visit my
      <a
        href="https://github.com/shasherazi"
        class="text-accent underline"
        target="_blank"
        rel="noopener noreferrer"
      >
        github</a
      >
      to see them. some of these are listed here:
    </p>

    <ul class="list-disc list-inside mt-5 pl-4">
      <li>
        <a
          href="https://build-a-rabbit-hole.vercel.app"
          target="_blank"
          class="text-accent underline">Build a Rabbit Hole</a
        >, made with nextjs, supabase, and shadcn-ui
      </li>
      <li>
        <a
          href="https://www.nohaarchive.com/"
          target="_blank"
          class="text-accent underline">Noha Archive</a
        >, made with nextjs, firebase, and shadcn-ui
      </li>
      <li>
        <a
          href="https://global-playlist.vercel.app/"
          target="_blank"
          class="text-accent underline">Global Playlist</a
        >, made with react, python, and firebase
      </li>
    </ul>

    <p class="text-lg max-sm:text-base mt-5 max-sm:mt-2">
      as you can see, most of my projects are web based. but im trying to get
      more into the backend side, so expect some python, C, or maybe even rust
      soon.
    </p>
  </div>

  <hr class="w-screen my-8 max-md:my-6 text-accent" />

  <div class="contact">
    <p class="text-lg max-sm:text-base mt-5 max-sm:mt-2">
      you can see my online presence on
      <ul class="list-disc list-inside mt-2 pl-4">
        <li>
          <a
            href="https://twitter.com/shasherazi"
            target="_blank"
            class="text-accent underline">twitter</a
          >
          (im not calling it X)
        </li>
        <li>
          <a
            href="https://linkedin.com/in/shasherazi"
            target="_blank"
            class="text-accent underline">linkedin</a
          >
          (outdated. not an accurate representation of me)
        </li>
      </ul>
    </p>
  </div>
</Layout>
